<div class="container">
    <div class="row">
        <div class="col ">
            <h1 style="text-align: center;color: blue;"><i class="fa-solid fa-graduation-cap fa-beat"></i>  EDIT STUDENT DETAILS <i class="fa-solid fa-graduation-cap fa-beat"></i> 
            </h1>
                <!--content-->
            
           
        </div>
    </div>
</div>
<!-- edit contact card design-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 text-bg-primary">
            <form #editContactForm="ngForm"class="border rounded ">
                <!--id-->
                <div class="mb-2">
                    <input name="id" #id="ngModel"[(ngModel)]="contact.id"placeholder="contact id"type="text"class="form-control"required>
                </div>
                <!--id validation content-->
                <div *ngIf="id.invalid && id.touched"class="mb-2 text-danger">
                    Please Enter a valid Id
                </div>
                <!--name-->
                <div class="mb-2">
                    <input name="name"#name="ngModel"[(ngModel)]="contact.name"placeholder="contact name"type="text"class="form-control" pattern="[a-zA-Z. ]*"required>
                </div>
                      <!--name validation content-->
                      <div *ngIf="name.invalid && name.touched"class="mb-2 text-danger">
                        Please Enter a valid name
                    </div>
                    <!--photo-->
                <div class="mb-2">
                    <input name="photo"#photo="ngModel"[(ngModel)]="contact.photo" placeholder="contact image"type="text"class="form-control"required>
                </div>
                <!--photo validation content-->
                <div *ngIf="photo.invalid && photo.touched"class="mb-2 text-danger">
                    Please insert a photo
                </div>
                <!--mobile-->
                <div class="mb-2">
                    <input name="mobile"#mobile="ngModel"[(ngModel)]="contact.mobile"placeholder="contact mobile number"type="text"class="form-control"minlength="10"maxlength="10"pattern="[0-9]*"required>
                </div>
                <!--mobile validation content-->
                <div *ngIf="mobile.invalid && mobile.touched"class="mb-2 text-danger">
                    Please valid mobile
                </div>
                <!--email-->
                <div class="mb-2">
                    <input name="email"#email="ngModel" [(ngModel)]="contact.email" placeholder="contact email id"type="text"class="form-control"email required>
                </div>
                <!--email validation content-->
                <div *ngIf="email.invalid && email.touched"class="mb-2 text-danger">
                    Please valid email
                </div>
                <!--company-->
                <div class="mb-2">
                    <input name="company"#company="ngModel"[(ngModel)]="contact.company"placeholder="enter mark"type="text"class="form-control"required>
                </div>
                <!--company validation content-->
                <div *ngIf="company.invalid && company.touched"class="mb-2 text-danger">
                    Please valid mark
                </div>
                <!--title-->
                <div class="mb-2">
                    <input name="title"#title="ngModel"[(ngModel)]="contact.title"placeholder="enter group"type="text"class="form-control"required>
                </div>
                <div class="mb-2">
                    <!--title validation content-->
                <div *ngIf="title.invalid && title.touched"class="mb-2 text-danger">
                    Please valid Group
                </div>
                   
                <div class="mt-3 row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 d-flex justify-content-end">
                  
                    <a routerLink=""class="btn btn-warning">close</a>
                    <button (click)="editContact(contact.id)"[disabled]="editContactForm.invalid"class="btn btn-success ms-2">Update </button>
                        </div>
                        </div>
                    </div>
              
              
    
           <!--card-->
           <div class="col-lg-4 d-flex justify-content-center text-bg-primary">
           <div [hidden]="editContactForm.invalid"class="card align-items-center p-2" style="width: 18rem;">
            <img width="100px"height="100px"[src]="contact.photo"alt="userimage">
            <div class="card-body">
              <h5 class="card-title">{{contact.name}}</h5>
              <p>ID:{{contact.id}}</p>
              <p>MOBILE:{{contact.mobile}}</p>
              <p>EMAIL:{{contact.email}}</p>
              <p>MARK:{{contact.company}}</p>
              <p>GROUP:{{contact.title}}</p>
            <!--<p>GROUP:-{{contact.groupId}}</p>--> 
               </div>
            </div>
            </div>
          
       